<!doctype html>
<!-- jQuery/Chart.jsを使用 -->
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sound Anormaly Detection</title>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            // Chart.js 描画グラフデータ
            var data = {
                labels: [],
                datasets: [{
                    label: 'Sound Anormaly Score',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [],
                }]
            };
            // Chart.js 描画グラフ設定
            var config = {
                type: 'line',
                data: data,
                options: {
                    scalses: {
                        yAxes: [{
                            ticks: {
                                suggestedMin: 0,
                                suggestedMax: 200,
                                stepSize: 10
                            }
                        }]
                    }
                }
            };

            // 配列をequalsで評価できるようにする
            Array.prototype.equals = function (getArray) {
                if (this.length != getArray.length) return false;
                    for (var i = 0; i < getArray.length; i++) {
                        if (this[i] instanceof Array && getArray[i] instanceof Array) {
                            if (!this[i].equals(getArray[i])) return false;
                        } else if (this[i] != getArray[i]) {
                            return false;
                        }
                    }
                    return true;
            };

        </script>
        <link rel="shortcut icon" href="/static/images/favicon.ico">
    </head>
    <body>
        <center>
            <h1>Sound Anormaly Detection</h1>
        </center>
        <div>
            <canvas id="myChart"></canvas>
        </div>
        <script>
            // canvas 要素へChart.jsグラフ描画する関数
            var myChart;
            function drawChart(){
                myChart = new Chart(
                    document.getElementById('myChart'),
                    config);
                console.log("[drawChart] draw chart");
            };

            // 等間隔でajax実行
            setInterval( function(){
                $.ajax({
                    url: '/update',
                    type: 'POST',
                    data: {}
                }).done( (msg) => {
                        console.log('[done] labels: ' + config.data.labels.equals(msg.labels));
                        if (config.data.labels.equals(msg.labels) == false) {
                            console.log('[done] unmatch labels');
                            config.data.labels = msg.labels;
                            config.data.datasets[0].data = msg.values;
                            if(myChart) {
                                myChart.destroy();
                                console.log('[done] destoy chart');
                            };
                            drawChart();
                            console.log('[done] redraw chart: ' + config.data.datasets[0].data);
                        };
                }).fail(msg => {
                    console.log('[fail] ' + msg);
                }).always((msg) => {});
            }, 5000); // 5000ミリ秒ごとに実行

        </script>
    </body>
</html>