<!doctype html>
<!-- ボタンは https://saruwakakun.com/html-css/reference/css-sample より引用 -->
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sound Anormaly Detection</title>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            var labels = [];
            var values = [];
            var data = {
                labels: labels,
                datasets: [{
                    label: 'Sound Anormaly Score',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: values,
                }]
            };
          
            var config = {
                type: 'line',
                data: data,
                options: {}
            };
        </script>
        <link rel="shortcut icon" href="/static/images/favicon.ico">
    </head>
    <body>
        <center>
            <h1>Sound Anormaly Detection</h1>
        </center>
        <div>
            <canvas id="myChart"></canvas>
        </div>
        <script>
            const myChart = new Chart(
                document.getElementById('myChart'),
                config
            );
            setInterval( function(){
                $.ajax({
                    url: '/update',
                    type: 'GET',
                    data: {}
                }).done( (msg) => {
                        console.log(msg);
                        //labels = msg.result.labels;
                        //values = msg.result.values;
                }).fail(msg => {
                    console.log('[Fail] ' + msg);
                }).always((msg) => {});
            }, 1000);

        </script>
    </body>
</html>