<!doctype html>
<!-- ボタンは https://saruwakakun.com/html-css/reference/css-sample より引用 -->
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sound Anormaly Detection</title>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            //var labels = [];
            //var values = [];
            var data = {
                labels: [],
                datasets: [{
                    label: 'Sound Anormaly Score',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [],
                }]
            };
          
            var config = {
                type: 'line',
                data: data,
                options: {}
            };

            Array.prototype.equals = function (getArray) {
                if (this.length != getArray.length) return false;
                    for (var i = 0; i < getArray.length; i++) {
                        if (this[i] instanceof Array && getArray[i] instanceof Array) {
                            if (!this[i].equals(getArray[i])) return false;
                        } else if (this[i] != getArray[i]) {
                            return false;
                        }
                    }
                    return true;
            };

        </script>
        <link rel="shortcut icon" href="/static/images/favicon.ico">
    </head>
    <body>
        <center>
            <h1>Sound Anormaly Detection</h1>
        </center>
        <div>
            <canvas id="myChart"></canvas>
        </div>
        <script>
            var myChart;
            function drawChart(){
                myChart = new Chart(
                    document.getElementById('myChart'),
                    config);
                console.log("draw chart");
            };
            setInterval( function(){
                $.ajax({
                    url: '/update',
                    type: 'GET',
                    data: {}
                }).done( (msg) => {
                        console.log(config.data.labels.equals(msg.labels));
                        if (labels.equals(msg.labels) == false) {
                            console.log('unmatch labels');
                            config.data.labels = msg.labels;
                            config.data.datasets.data = msg.values;
                            if(myChart) {
                                myChart.destroy();
                                console.log('destoy chart');
                            };
                            drawChart();
                        };
                }).fail(msg => {
                    console.log('[Fail] ' + msg);
                }).always((msg) => {});
            }, 1000);

        </script>
    </body>
</html>